div
{
    font: normal 12pt Verdana;
    border: solid 0px #ccc;
}

app
{
    background-color: #fff;
}

#divLogo
{
    margin-top: 10%;
    width: 100%;
}

#divLogo.img
{
    width: 40%;
}

#divLogin
{
}

.default-width
{
    width: 100%;
}

.default-height
{
    height: 100%;
}

.default-size
{
    width: 100%;
    height: 100%;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}


.back-color
{
    background-color: #912;
    color: #fff;
}

.text-center
{
    text-align: center;
}

.table-cell
{
    display: inline-block;
}

.madol-content
{
   /* background: url(../img/school.jpg);*/
}

#divMadolHeader
{
    height: 40px;
    width: 360px;
    padding: 6px;
    display: block;
}

.button
{
    padding: 9px;
    border: solid 2px #912;
    background-color: #912;
    width: 80%;
    color: #fff;
    cursor: pointer;
    margin-left: 8%;
    border-radius: 6px;
}

input
{
    border: solid 2px #666;
    padding: 9px;
    width: 80%;
    border-radius: 6px;
}

select
{
    border: solid 2px #ccc;
    padding: 9px;
    width: 90%;
    border-radius: 6px;
    background-color: #fff;
}

.button-container
{
    text-align: center;
}

.vertical-separator
{
    height: 8px;
}

#divLogoFirstPage
{
    margin-top: 30%;
}

.cell-side
{
    width: 10%;
}

.cell-middle
{
    width: 70%;
}


#divProfile
{
    width: 100%;
    height: 100%;
}

#divMenuImage
{
    width: 100%;
    height: 100%;

}

.list-view
{
    overflow-y: scroll;
}

#divMadolTitle
{
    font: bold 14px Tahoma;
}

.list-item
{
    height: 100px;
    width: 100%;
    vertical-align: top;
}

.list-item-image
{
    width: 20%;
    padding: 4px;
}

.list-item-image img
{
    width: 100%;
    height: 100%;
}


.list-item-content
{
    width: 70%;
    vertical-align: top;
}

.list-item-title
{
    font: bold 13px Tahoma;
    text-align: left;
}

.list-item-text
{
    font: normal 11px Tahoma;
    text-align: justify;
}