div
{
    font: normal 12pt Verdana;
    border: solid 0px #ccc;
}

app
{
    background-color: #fff;
}

#divLogo
{
    margin-top: 10%;
    width: 100%;
}

#divLogo.img
{
    width: 40%;
}

#divLogin
{
}

.default-width
{
    width: 90%;
}

.default-height
{
    height: 100%;
}

.default-size
{
    width: 100%;
    height: 100%;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}


.back-color
{
    background-color: #FA931E;
    color: #B8B1A9;
}

.text-center
{
    text-align: center;
}

.table-cell
{
    display: inline-block;
}

.cell-side
{
    width: 20%;
}

.cell-middle
{
    width: 60%;
}

#divHeader
{
    height: 20%;
}

.madol-content
{
   /* background: url(../img/school.jpg);*/
}

.button
{
    padding: 9px;
    border: solid 2px #912;
    background-color: #912;
    width: 80%;
    color: #fff;
    cursor: pointer;
    margin-left: 8%;
}

input
{
    border: solid 2px #666;
    padding: 9px;
    width: 80%;
    border-radius: 0px;
}


.button-container
{
    text-align: center;
}

.vertical-separator
{
    height: 8px;
}

#divLogoFirstPage
{
    margin-top: 30%;
}

